<div class="news">
  <div class="news1">
    <span class="span1"><img src="assets/ynrb.jpg" width="80px" height="25px"></span>
    <span class="span2" >云南日报：陈豪在云南大学宣讲党的十九大精神</span>
  </div>
  <div class="news1">
    <span class="span1"><img src="assets/zxft.jpg" width="80px" height="25px"></span>
    <span class="span2" >云南日报：陈豪在云南大学宣讲党的十九大精神</span>
  </div>
  <div class="news1">
    <span class="span1"><img src="assets/ysw.png" width="80px" height="25px"></span>
    <span class="span2" >云南日报：陈豪在云南大学宣讲党的十九大精神</span>
  </div>
  <div class="news1">
    <span class="span1"><img src="assets/yndst.jpg" width="80px" height="25px"></span>
    <span class="span2" >云南日报：陈豪在云南大学宣讲党的十九大精神</span>
  </div>
</div>
