<body >
<div align="center" class="top" >
  <a href="" ><img src="assets/logo.png" title="云大主站new" align="left" style="margin-top: 18px;"/></a>
  <ul>
    <li class="language">中文版&nbsp;|&nbsp;ENGLISH</li>
    <li class="label" style=" margin-right: 30px;background-color:#048ee6;"><img src="../../assets/xiaoyou.png" alt="xjgi" /><a href="">校友</a></li>
    <li class="label" style="background-color:#9f9f9f; "><img src="assets/kaosheng.png" alt="dfgd"/><a href="">考生</a></li>
    <li class="label" style="background-color:#78c06e; " ><img src="assets/jiaozhigong.png" alt="ddf"/><a href="">教职工</a></li>
    <li class="label"style="background-color:#e5615f; " ><img src="../../assets/zaixiaosheng.png" alt="dfh"/><a href="">在校生</a></li>
  </ul>


</div>
</body>
