<div class="news">
<div class="news1">
  <span class="span1"><img src="assets/shijiu.jpg" width="120px" height="76px"></span>
  <span class="spans">&emsp;</span>
    <span class="span2">
     <h3> 十九大专题报道</h3>
     <mat-icon >schedule</mat-icon><span class="time">2017-10-18</span>
    </span>
</div>
  <div class="news1">
    <span class="span1"><img src="assets/liangxue.jpg" width="120px" height="76px"></span>
    <span class="spans">&emsp;</span>
    <span class="span2">
     <h3> “两学一做”学习教育专题</h3>
     <mat-icon >schedule</mat-icon><span class="time">2017-8-29</span>
    </span>
  </div>
  <!---->
    <!--<span class="span1"><img src="assets/shijiu.jpg" width="120px" height="76px"></span>-->
    <!--<span class="spans">&emsp;</span>-->
    <!--<span class="span2">-->
     <!--<h3> 十九大专题报道</h3>-->
     <!--<mat-icon >history</mat-icon><span class="time">2017-10-18</span>-->
    <!--</span>-->


</div>
