<div class="news">
 <span class="span1">
   <p>23</p>
   <p class="ym">2017.11</p>
 </span>
<span class="spans">&emsp;</span>
  <span class="span2">
  <a href="" title="杜玉波到校作学习贯彻党的十九大精神，推…"> <h3>杜玉波到校作学习贯彻党的十九大精神，推…</h3></a>
    <h4>11月20日，学校邀请教育部原党组副书记、副部长，中国高等教育学会会长杜玉波到校作“学习贯彻党的十九大精神 推进云南大学‘…</h4>
  </span>

  <span class="span1">
   <p>21</p>
   <p class="ym">2017.11</p>
 </span>
  <span class="spans">&emsp;</span>
  <span class="span2">
   <h3>省委宣讲团到校宣讲党的十九大精神</h3>
    <h4>为深入学习宣传贯彻党的十九大精神，经省委批准，由省委宣讲团成员、云南省委政策研究室副主任李昶于11月20日来到云大为学校师…</h4>
  </span>

  <span class="span1">
   <p>20</p>
   <p class="ym">2017.11</p>
 </span>
  <span class="spans">&emsp;</span>
  <span class="span2">
   <h3>人力资源和社会保障部部长尹蔚民到校视察</h3>
    <h4>11月15日，人力资源和社会保障部部长尹蔚民来到云南大学调研学校毕业生就业创业工作</h4>
  </span>
</div>
