<div class="bottom">
  <span class="span1">
    <div>
     <img src="assets/ydyx.png" >
      <img src="assets/wlbg.png" >
     <img src="assets/tsg.png" >
      <img src="assets/ydxl.png" >
    <img src="assets/bkjw.png">
     <img src="assets/app.png" >
      <img src="assets/gfwb.png" >
      <img src="assets/gfwx.png" >
    </div>
  <div >
    <span class="name">云大邮箱</span>
    <span class="name">网络办公</span>
    <span class="name">图书馆</span>
    <span class="name">云大校历</span>
    <span class="name">本科教务</span>
    <span class="name">APP</span>
    <span class="name">官方微博</span>
    <span class="name">官方微信</span>
  </div>
</span>
  <span class="spans">
<ul>
  <li>
    <img src="assets/zp.jpg" alt="" width="310px" height="35px">
    <img src="assets/fp.jpg" width="160px" height="35px">
  </li>
  <li>
    <img src="assets/jl.jpg" alt="" width="244px" height="38px">
     <img src="assets/qr.jpg" alt="" width="227px" height="38px">
  </li>
</ul>
  </span>


</div>
