<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!--头部子组件-->
  <app-yun-top></app-yun-top>
  <!--导航栏子组件-->
  <app-yun-nav></app-yun-nav>
  <!--中间大图部分-->
  <app-yun-pic></app-yun-pic>
  <!--新闻的总标题1 用两个子组件拼合而成-->
  <div class="newstitle">
<p><app-ynu-newstitle1></app-ynu-newstitle1></p>
    <p>&emsp;</p>
 <p><app-ynu-newstitle2></app-ynu-newstitle2></p>
  </div>
<!--新闻内容1 用两个子新闻组件拼合而成-->
  <div class="newscontent1">
    <p><app-ynu-news1></app-ynu-news1></p>
    <p>&emsp;</p>
    <p><app-ynu-news2></app-ynu-news2></p>
  </div>

  <hr>

  <!--新闻的总标题2 用三个子组件拼合而成-->
  <div class="newstitle">
    <p><app-yun-newstitle3></app-yun-newstitle3></p>
    <p>&emsp;</p>
    <p><app-ynu-newstitle4></app-ynu-newstitle4></p>
    <p>&emsp;</p>
    <p><app-ynu-newstitle5></app-ynu-newstitle5></p>
  </div>
  <!--新闻内容2 用三个个子新闻组件拼合而成-->
  <div class="newscontent2">
   <p> <app-ynu-news3></app-ynu-news3></p>
    <p>&emsp;</p>
    <p><app-ynu-news4></app-ynu-news4></p>
    <p>&emsp;</p>
    <p><app-ynu-news5></app-ynu-news5></p>
  </div>
<!--尾部两个组件-->
  <app-ynu-bottom></app-ynu-bottom>
  <app-ynu-footer></app-ynu-footer>
</div>
