<div class="news">
  <div class="news1">
    <span class="span1"><img src="assets/xx.jpg" width="150px" height="100px"></span>
    <span class="spans">&emsp;</span>
    <span class="span2">
      <h4>学校召开学院和研究院主要负责人会议</h4>
      <h4 class="con">学校召开学院和研究院主要负责人会议11月16日，学校召开学院和研究院主要负责人会议，认真学习贯彻落实党的十九大精神,…</h4>
      <h4><mat-icon >schedule</mat-icon><span class="time">2017-11-18</span></h4>
    </span>
  </div>

  <div class="news2">
    <ul>
      <li>新疆师范大学副校长孙秀玲一行到校考察交流<span class="span3">2017-11-24</span></li>
      <li>麦考瑞大学副校长一行访问云南大学<span class="span3">2017-11-24</span></li>
      <li>朱丹老师参加“学习宣传贯彻党的十九大精神”高校…<span class="span3">2017-11-24</span></li>
      <li>学校召开2017年度保密委工作会议暨保密工作培训会<span class="span3">2017-11-24</span></li>
    </ul>
  </div>
</div>
