<div class="news">
  <ul>
    <li>
      <span class="span1">11.22</span>
      <span ><mat-icon >schedule</mat-icon></span>
      <span class="span2"> 关于开展云南大学第九届研究生科研创新项目立项工作的通知</span>
    </li>


    <li>
    <span class="span1">11.22</span>
    <span ><mat-icon >schedule</mat-icon></span>
    <span class="span2">图书馆“品书知日本”云大赛区评审结果公布</span>
  </li>

    <li>
      <span class="span1">11.22</span>
      <span ><mat-icon >schedule</mat-icon></span>
      <span class="span2">关于参加2017“出国留学人员行前培训会”的通知</span>
    </li>

    <li>
      <span class="span1">11.22</span>
      <span ><mat-icon >schedule</mat-icon></span>
      <span class="span2">关于2017年度专业技术职务评聘公开述职答辩的通知</span>
    </li>

    </ul>


</div>
